*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:linear-gradient(135deg,#338657,#a8d5ba);
    display: flex;
    align-items: center;
    justify-content: center;  
    min-height: 100vh;
    padding: 20px;
}

.container
{
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px;
}


